@page
@model WebApp.Pages.AdminPages.AdminHomeModel
@{
}
<script src="~/js/pages/adminhome.js"></script>
<link href="~/css/AdminHome.css" rel="stylesheet" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel de Administración - QuantumPay</title>
    <link rel="icon" href="../img/QuantumPayIcon.png" type="image/png" />
</head>
<body>

    <div id="header-container"></div>

    <main>
        <section class="admin-dashboard-container">
            <h2>Panel de Administración</h2>

            <div class="dashboard-grid">
                <a asp-page="/Clientes" class="dashboard-card">
                    <img src="../img/users.png" alt="Usuarios" />
                    <h3>Usuarios</h3>
                    <p>Buscar y administrar usuarios registrados.</p>
                </a>
                <a href="../Transactions/transactions.html" class="dashboard-card">
                    <img src="../img/transaction.png" alt="Transacciones" />
                    <h3>Transacciones</h3>
                    <p>Buscar y administrar transacciones.</p>
                </a>
                <a asp-page="/AutorizacionComercio" class="dashboard-card">
                    <img src="../img/business.png" alt="Negocios" />
                    <h3>Negocios</h3>
                    <p>Administrar negocios asociados.</p>
                </a>
                <a asp-page="/AutorizacionBanco" class="dashboard-card">
                    <img src="../img/bank.png" alt="Bancos" />
                    <h3>Instituciones Bancarias</h3>
                    <p>Administrar instituciones bancarias.</p>
                </a>
                <a href="../promotions/promotions.html" class="dashboard-card">
                    <img src="../img/promotion.png" alt="Promociones" />
                    <h3>Promociones</h3>
                    <p>Administrar promociones activas.</p>
                </a>
            </div>
             <a class="nav-link text-dark" asp-area="" asp-page="/ClientesPages/ClienteHome">Clientes</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/ComercioPages/ComercioHome">Comercios</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/BancoPages/BancoHome">Bancos</a>
               
        </section>
    </main>
</body>