@page
@using Microsoft.AspNetCore.Authorization
@model WebApp.Pages.AdminPages.AutorizacionBancoModel
@attribute [Authorize(Roles = "Admin")]

@section Scripts {
    <script>
        // Captura el token desde la cookie
        var userToken = '@HttpContext.Request.Cookies["jwt_token"]';
    </script>
    <script src="~/js/pages/autorizacionbanco.js"></script>
}

<div class="text-end">
    <a asp-page="/AdminPages/AdminHome" class="btn btn-outline-dark">⬅️ Volver</a>
</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-success text-white">
                    🏦 Instituciones Bancarias Registradas
                </div>
                <div class="card-body" style="overflow-x: auto; width: 100%;">
                    <table id="tblinstitucionBancaria"
                           class="table table-bordered table-striped table-hover"
                           style="min-width: 600px; width: 100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Código Identidad</th>
                                <th>Cédula Jurídica</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Estado Solicitud</th>
                                <th>Correo Electrónico</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="ns-component">
                <form>
                    <fieldset>
                        <legend>Banco</legend>

                        <div class="form-group">
                            <label for="txtId" class="form-label">ID Institución Bancaria</label>
                            <input id="txtId" readonly type="number" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtCedulaJuridica" class="form-label">Cédula Jurídica</label>
                            <input id="txtCedulaJuridica" readonly type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtDireccionSedePrincipal" class="form-label">Dirección Sede Principal</label>
                            <input id="txtDireccionSedePrincipal" readonly type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtTelefono" class="form-label">Teléfono</label>
                            <input id="txtTelefono" readonly type="number" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtCorreoElectronico" class="form-label">Correo Electrónico</label>
                            <input id="txtCorreoElectronico" readonly type="text" class="form-control" />
                        </div>

                        <div class="form-group mt-3">
                            <label for="txtEstadoSolicitud" class="form-label">Estado de Solicitud</label>
                            <select id="txtEstadoSolicitud" class="form-select">
                                <option>PENDIENTE</option>
                                <option>APROBADO</option>
                                <option>RECHAZADO</option>
                            </select>
                        </div>
                    </fieldset>
                </form>

                <br />

                <button id="btnUpdate" class="btn btn-info btn-xs">Update</button>
            </div>
        </div>
    </div>
</div>
