@page
@using Microsoft.AspNetCore.Authorization
@model WebApp.Pages.AdminPages.AutorizacionComercioModel
@{
}
@attribute [Authorize(Roles = "Admin")]
<script src="~/js/pages/autorizacioncomercio.js"></script>

<div class="text-end">
    <a asp-page="/AdminPages/AdminHome" class="btn btn-outline-dark">⬅️ Volver</a>
</div>
<div class="    bs-docs-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-success text-white">
                    🛍️ Comercios Registrados
                </div>
                <div class="card-body">
                    <table id="tblcomercio" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Cuenta</th>
                                <th>Nombre</th>
                                <th>Estado Solicitud</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ns-component">
                <form>
                    <fieldset>
                        <legend>Banco</legend>
                        <div class="form-group">
                            <label for="txtId" class="form-label mt-$">ID Comercio</label>
                            <input id="txtId" readonly type="number" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtIdCuenta" class="form-label mt-$">Cuenta</label>
                            <input id="txtIdCuenta" readonly type="number" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtNombre" class="form-label mt-$">Nombre</label>
                            <input id="txtNombre" readonly type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="txtEstadoSolicitud" class="form-label mt-$">Estado Solicitud</label>
                            <input id="txtEstadoSolicitud" type="text" class="form-control" />
                        </div>
                        
                    </fieldset>
                </form>
                <br />
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button">Save</button>
                <button id="btnUpdate" class="source-button btn btn-info btn-xs" type="button">Update</button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button">Delete</button>
            </div>
        </div>

    </div>
</div>