@page "{idBanco:int}"
@model WebApp.Pages.Transacciones.BancoModel
@{
}
<div id="Context" data-type="banco" data-id="@Model.IdBanco" style="display:none"></div>

<h1>Transacciones Banco @Model.IdBanco</h1>

<div class="bs-docs-section">
    <div class="row">
        <legend>Transacciones</legend>
        <div class="col-lg-12">
            <table id="tblTransacciones"
                   class="display"
                   style="width:100%"
                   ColumnsDataName="id,idCuentaBancaria,idCuentaComercio,monto,comision,descuentoAplicado,fecha,metodoPago">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Banco</th>
                        <th>Comercio</th>
                        <th>Monto</th>
                        <th>Comisión</th>
                        <th>Descuento</th>
                        <th>Fecha</th>
                        <th>Método</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/Transacciones.js" asp-append-version="true"></script>
}
