html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-dropdown {
    text-decoration: none;
    position: relative;
}
/* Menú desplegable oculto */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    text-decoration: none;
}

.dropdown-menu li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: white;

}

/* Mostrar menú desplegable si tiene la clase "show" */
.dropdown-menu.show {
    display: block;
}