@page
@model WebApp.Pages.ClientesModel
@{
}
<script src="~/js/pages/clientes.js"></script>
<div class="    bs-docs-section">
    <div class="row">
        <legend>Clientes</legend>
        <div class="col-lg-12">

            <table id="tblcliente" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Cédula</th>
                        <th>Correo Electrónico</th>
                        <th>Dirección</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Teléfono</th>
                        <th>IBAN</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <a asp-page="/AdminHome" class="back-btn">Volver al inicio</a>
</div>
