@page
@using Microsoft.AspNetCore.Authorization
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/welcome.css" />
}
@attribute [AllowAnonymous]
<div class="welcome-container text-center mt-5">
    <h1>Bienvenido a QuantumPay</h1>
    <p class="lead">Por favor, elige una opción para continuar:</p>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mx-2" asp-page="/Login">Iniciar Sesión</a>
        <a class="btn btn-success btn-lg mx-2" asp-page="/SignUp">Registrarse</a>
    </div>
</div>