@page
@using Microsoft.AspNetCore.Authorization
@model WebApp.Pages.ClientesPages.AgregarCuentaModel
@section Scripts{
    <script>
        var userToken = '@HttpContext.Request.Cookies["jwt_token"]';
    </script>
}
@attribute [Authorize(Roles = "Cliente")]

<div class="text-end">
    <a asp-page="/ClientesPages/ClienteHome" class="btn btn-outline-dark">⬅️ Volver</a>
</div>
<div class="row">
    <div class="col-sm-6" >
        <div class="card">
            <div class="card-header bg-success text-white">
                💳 Cuentas Registradas
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Banco</th>
                            <th>Tipo de Cuenta</th>
                            <th>Número IBAN</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <legend>Formulario Cuenta Bancaria</legend>
    <form>
        <fieldset>
            <div class="form-group">
                <label for="txtId">ID Cuenta</label>
                <input id="txtId" readonly type="number" class="form-control" />
            </div>

            <div class="form-group">
                <label for="txtNombreCliente">Nombre del Cliente</label>
                <input id="txtNombreCliente" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="txtNumeroCuenta">Número de Cuenta</label>
                <input id="txtNumeroCuenta" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="selectBanco">Banco</label>
                <select id="selectBanco" class="form-control">
                    <option value="">-- Seleccione un banco --</option>
                    <option value="BAC">BAC</option>
                    <option value="BCR">BCR</option>
                    <option value="Banco Nacional">Banco Nacional</option>
                    <option value="Scotiabank">Scotiabank</option>
                </select>
            </div>

            <div class="form-group">
                <label for="selectTipoCuenta">Tipo de Cuenta</label>
                <select id="selectTipoCuenta" class="form-control">
                    <option value="">-- Seleccione un tipo --</option>
                    <option value="Ahorros">Ahorros</option>
                    <option value="Corriente">Corriente</option>
                </select>
            </div>
        </fieldset>
    </form>

    <div>
        <button id="btnCreateCuenta" class="btn btn-primary btn-xs" type="button">Crear</button>
        <button id="btnUpdateCuenta" class="btn btn-info btn-xs" type="button">Actualizar</button>
        <button id="btnDeleteCuenta" class="btn btn-danger btn-xs" type="button">Eliminar</button>
    </div>
    
    

</div>  
