@page
@model WebApp.Pages.ClientesPages.NuevaTransaccionModel
@{
    ViewData["Title"] = "Nueva Transacción";
}
<input type="hidden" id="hdnClienteId" value="@Model.ClienteId" />
<input type="hidden" id="hdnEmail" value="@Model.Email" />

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            Realizar Pago
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="ddlCuentas">Cuenta Bancaria</label>
                <select id="ddlCuentas" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="ddlComercios">Comercio</label>
                <select id="ddlComercios" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="txtMonto">Monto</label>
                <input id="txtMonto" type="number" step="0.01" class="form-control" />
            </div>
            <div class="form-group">
                <label for="txtMetodoPago">Método de Pago</label>
                <input id="txtMetodoPago" type="text" class="form-control" />
            </div>
            <button id="btnRealizarPago" class="btn btn-success">Realizar Pago</button>
        </div>
    </div>
</div>




<script src="~/js/ControlActions.js"></script>



@section Scripts {
    <script src="~/js/Pages/ClientesPages/NuevaTransaccion.js" asp-append-version="true"></script>
}
