@page
@using Microsoft.AspNetCore.Authorization
@model WebApp.Pages.ClientesPages.TransaccionesClienteModel
@attribute [Authorize(Roles = "Cliente")]

<!-- Hidden field con el ID del cliente -->
<input type="hidden" id="hdnClienteId" value="@Model.ClienteId" />

<div class="text-end mb-3">
    <a asp-page="/ClientesPages/ClienteHome" class="btn btn-outline-dark">⬅️ Volver</a>
</div>

<legend>Historial de Transacciones</legend>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                🔔 Transacciones Realizadas
            </div>
            <div class="card-body" style="overflow-x: auto; width: 100%;">
                <table id="tblTransaccionesCliente"
                       class="table table-bordered table-striped table-hover"
                       style="width:100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID Transacción</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th>Cuenta Origen</th>
                            <th>Cuenta Destino</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Captura el JWT desde la cookie
        var userToken = '@HttpContext.Request.Cookies["jwt_token"]';
    </script>
    <script src="~/js/ControlActions.js"></script>
    <script src="~/js/Pages/ClientesPages/TransaccionesCliente.js" asp-append-version="true"></script>
}
